button {
    padding: 2em;
    margin: 5em;
    background-color: navy;
    /* color: white; */
    border: none;
    border-radius: .5em;
}

.details-button {
    padding: 1em;
    margin: 0.5em;
    background-color: darkred;
    border: none;
    font-size: .8em;
    /* border-radius: 1em; */
}

.header-container {
    display: flex;
    justify-content: center;
}

.content {
    margin: 3em;
}

a {
    color: white;
    text-decoration: none;
}

img {
    margin: 5vw;
}